.fa {
  padding: 1rem;
  font-size: 30px;
  width: auto;
  text-decoration: none;
  margin: 2px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.page-footer {
  width: 100%;
  padding-top: 1rem;
}

#footer-text {
  font-size: 10px;
}
