input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  position: relative;
  margin-bottom: 16px;
  resize: vertical;
  height: 250px;
}

label {
  font-size: 1rem;
}

#contact-form {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  min-height: 80vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
