@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
  }
}

.parallax-container {
  height: 45vh;
}

@media only screen and (max-width: 993px) {
  #parallax {
    min-width: 100%;
  }
  .parallax-container {
    height: 25vh;
  }
}

.material-icons.md-48 {
  font-size: 48px;
  color: white;
}

#app-download {
  width: 100%;
  max-width: 800px;
}

#parallax {
  max-width: 100%;
}

#slider {
  padding-top: 2rem;
}

#map {
  max-width: 950px;
}

#google {
  padding: 2rem;
}

#apple {
  padding: 2rem;
}
.card .card-content .card-title {
  font-weight: 400;
}
.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #3f51b5;
}
