@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #parallax {
    min-width: 100%;
  }
  .parallax-container {
    height: 200px;
  }
}

.material-icons.md-48 {
  font-size: 48px;
  color: white;
}

#app-download {
  width: 100%;
  max-width: 800px;
}

#parallax {
  max-width: 100%;
}

#slider {
  padding-top: 2rem;
}

#map {
  max-width: 950px;
}

#google {
  margin-left: 1rem;
}
